<ul class="nav nav-tabs mt-3" id="dashboard-tabs" role="tablist" data-controller="tab-url">
    <% tabs.each do |tab_name, tab_display_text| %>
        <li class="nav-item" role="presentation">
            <button class="nav-link <%= 'active' if tab_name == @selected_tab %>"
                id="<%= "#{tab_name}-tab" %>" data-bs-toggle="tab"
                data-bs-target="#<%= "#{tab_name}-pane" %>" type="button"
                role="tab" aria-controls="<%= "#{tab_name}-pane" %>"
                aria-selected="<%= 'active' if tab_name == @selected_tab %>"
                data-tab-name="<%= tab_name %>" data-action="click->tab-url#updateUrl">
                <%= tab_display_text %>
            </button>
        </li>
    <% end %>
</ul>
